node_modules
package-lock.json
yarn.lock

!.env
.env
.env.local
.env.dev
.DS_Store
.cache
.vercel
.output
.vinxi
.nitro
.output
.tanstack

/build/
/api/
/server/build
/public/build
.vinxi

# Sentry Config File
.env.sentry-build-plugin
/test-results/
/blob-report/
/playwright/.cache/
.playwright-mcp/*

app.config.timestamp_*.js


e2e/.auth/
playwright-report/

.claude/

