node_modules
package-lock.json
yarn.lock

!.env
.env
.env.local
.env.production
.DS_Store
.cache
.vercel
.output
.vinxi
.nitro
.output
.tanstack

/dist/
/build/
/api/
/server/build
/public/build
.vinxi

# Sentry Config File
.env.sentry-build-plugin
/test-results/
/blob-report/
/playwright/.cache/
.playwright-mcp/*

app.config.timestamp_*.js


e2e/.auth/
playwright-report/
coverage/

.claude/


# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
.fallow/
