.folder-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.folder {
  display: flex;
  height: 100%;
  position: relative;
  color: #ffffff;
}

.folder-left {
  flex-shrink: 0;
  width: 120px;
  margin-right: -1px;
}

.folder-middle {
  flex-grow: 1;
  min-width: 20px;
  margin-right: -1px;
}

.folder-right {
  flex-shrink: 0;
  width: 60px;
}

.folder svg {
  width: 100%;
  height: 100%;
  display: block;
  filter: drop-shadow(0 0px 0.75px rgba(161, 161, 170, 1));
  transition: filter 0.1s ease;
}

.folder-seam-cover {
  position: absolute;
  top: 11.5px;
  left: 20px;
  right: 20px;
  bottom: 1.5px;
  background-color: #ffffff;
  pointer-events: none;
  z-index: 1;
}

.folder-content {
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  z-index: 2;
}

.folder-wrapper:hover .folder svg {
  filter: drop-shadow(0 0px 0.75px rgba(161, 161, 170, 0.75))
    drop-shadow(0 1.5px 1.5px rgba(0, 0, 0, 0.2));
}

.folder-wrapper.valid-drop-target .folder svg {
  filter: drop-shadow(0 0px 0.75px rgba(161, 161, 170, 0.75))
    drop-shadow(0 1px 3px rgba(251, 191, 36, 0.7));
}
